body{
    padding:0 0.4rem;
    background-image:url("../img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% auto;
}
.header{
    width:auto;
    height:0.9rem;
    /* background-color:red; */
    border-bottom:1px solid #396e95; 
}
.header .header-left{
    width:auto;
    height:0.9rem;
    float:left;
}
.header .header-left img{
    display:block;
    height:.4rem;
    margin-top:0.25rem;
    float:left;
}
.header .header-left span{
    font-size:0.36rem;
    line-height:0.9rem;
    float:left;
    color:#fff;
    padding-left:10px;
}
.header .header-right{
    width:auto;
    height:0.9rem;
    float:right;
    font-size:0.2rem;
    color:#fff;
    text-align:center;
    /*  文本的水平居中  */
}
.header .header-right div:nth-child(1){ 
   margin-top:0.2rem;
}



.content{
    width:auto;
    height:15rem;
    margin-top:0.44rem;
}
.content .left{
    width:25%;
    height:15rem;
    float:left;
}
.content .left .today-income{
    width:100%;
    height:1.8rem;
    background-image:url("../img/today-income.png");
    background-size:100% 1.8rem;
}
.content .left .today-income h2{
    font-size: .18rem;
    color: #c5e7ff;
    line-height: .2rem;
}
.content .left .today-income .money{
    height:1.6rem;
}
@font-face{
    font-family: money;
    src:url("../font/QuartzRegular.ttf");
}

.content .left .today-income .money .money-left{
    width:65%;
    height:1.6rem;
    float:left;

    text-align: right;
    line-height: 1.6rem;
    font-family: money;
    font-size: .66rem;
    color: #fff55a;
}
.content .left .today-income .money .money-right{
    width:35%;
    height:1.6rem;
    background-color:orange;
    float:right;
}
.content .center{
    width:50%;
    height:15rem;
    background-color:green;
    float:left;
}
.content .right{
    width:25%;
    height:15rem;
    background-color:red;
    float:left;
}